
.create-pin-form {
  display: flex;
  justify-content: center;
  // flex-direction: column;
  align-items: center;
}

.pin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.pin-details {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.photo-preview {
  // margin-left: 10px;
  width: 275px;
  // position: fixed;
  // z-index: 2;
}

.dropzone {
  position: relative;
}

.dropzone-zone{
  // position: absolute;
}

.dropzone-preview{
  // position: absolute;
  width: 250px;
}
// .pin-form-container {
//   top: 100px;
// }

.boxy {
  margin: 20px;
  width: 345px;
  height: 455px;
  // background-image: url("https://i.imgur.com/TUOQo0E.png");
  background-image: url("https://i.imgur.com/elPWvzM.png");
}

.boxy2 {
  margin: 20px;
  width: 345px;
  height: 455px;
  // background-image: url("https://i.imgur.com/TUOQo0E.png");
  // background-image: url("https://i.imgur.com/elPWvzM.png");
}

.heightUpload {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    height: 420px;
    border-radius: 3px;
}

.immage-not-saved {
  display: none;
}

.immage-saved {
  display: flex
}