.single-pin-show-container {
  display: flex;
  justify-content: center;
  box-shadow: 10px;
}

.single-pin-show-inner-container {
  display: flex;
}

.pin-show-images {
  border-radius: 20px;
  width: 450px;
}

.pin-show-header {
  height: 60px;
}

.pin-show-text-container{
  display: block;
  width: 450px;
  margin-left: 60px;
}

.pin-show-title {
  font-size: 60px;
  font-weight: 600;
}

.pin-show-description {
  margin-top: 10px;
  font-size: 14px;
}