.single-pin-show-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.single-pin-show-inner-container {
  display: flex;
  width: 1000px;
  box-shadow: 8px 7px 20px rgb(242, 242, 242);
  // box-shadow: 10px 10px 8px #888888;
  border-radius: 20px;
}

.pin-show-images {
  border-radius: 20px;
  width: 450px;
}

.pin-show-header {
  height: 60px;
}

.pin-show-text-container{
  display: block;
  width: 450px;
  margin-left: 60px;
}

.pin-show-title {
  font-size: 60px;
  font-weight: 600;
}

.pin-show-description {
  margin-top: 20px;
  font-size: 14px;
  height: 70px;
}

.pin-show-userId {
  height: 50px;
}

.pin-show-boardId {
  height: 80px;
}

.single-pin-text {
  font-size: 50px;
  justify-content: center;
}

.outerrr{
  justify-content: center;
}