// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pin-show {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pin-images {
  width: 200px;
  border-radius: 20px;
}

.pin-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: center;
  flex: 100 100 220px;
  list-style: none;
}

.pins {
  margin: 10px;
}

.pins:hover {
  margin: 10px;
  opacity: 80%;
  border-radius: 20px;
}

.no-pins-container{
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

  .find-pins-btn {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    height: 40px;
    width: 150px;
    margin: 8px;
    color: white;
    background-color: rgb(116, 116, 116);
    font-size: 16px;
    font-weight: 450;
    border-radius: 30px;
    padding: 11px;
    padding-right: 12px;
    padding-left: 11px;
  }
