/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  
  .vsc-initialized {
    margin: 0px;
  }

  .full-login {
    display: flex;
    justify-content: center;
  }
  
  .login-form-container {
    display: flex;
    width: 400px;
  }

  /* .login-form {
    height: 241px;
    margin-top: 5px;
  } */

  .login-form-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }

  .demo-login-container{
    display: block;
    justify-content: center;
    margin-top: 0;
    margin-left: 58px
  }

  .switch-form{
    margin-left: 73px;
    margin-top: 5px;
  }
  
  .login-btn {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    height: 40px;
    min-width: 70.25px;
    margin: 8px;
    color: white;
    background-color: rgb(230, 0, 35);
    font-size: 16px;
    font-weight: 450;
    border-radius: 30px;
    padding: 11px;
    padding-right: 12px;
    padding-left: 11px;
  }

  .signup-btn {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    height: 40px;
    width: 70.25px;
    margin: 8px;
    color: black;
    font-weight: 645;
    background-color: rgb(239, 239, 239);
    font-size: 16px;
    background-size: 50px;
    border-radius: 30px;
    padding: 11px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .btns {
    padding-right: 20px;
  }

  /* .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    height: 625px;
    width: 485px
  } */
/* 
  .close-x {
    font-family: Nunito, sans-serif;
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    color: black;
    cursor: pointer;
    color: white;
    margin-top: 28px;
    margin-right: 50px;
    font-size: 20px
  } */
/* 
  .modal-welcome{
    display: block;
    justify-content: center;
    text-align: center
  } */

  .welcome {
    color: rgb(51, 51, 51);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    /* height: 200px */
  }

  .welcome-logo {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .modal-find-new {
    color: rgb(51, 51, 51);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
  }

  input {
    height: 44px;
    width: 270px;
    margin: 5px;
    border: solid 2px rgb(201, 201, 201);
    border-radius: 20px;
    cursor: pointer;
  }

  button:hover {
    cursor: pointer;
  }

  .login-input:focus{
    outline: none;
    box-shadow: 5px red;
  } */

  .errors {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: red;
    font-size: 14px;
    margin: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }

  .session-submit {
    border: none;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    height: 40px;
    width: 270px;
    margin: 8px;
    color: white;
    font-weight: 645;
    background-color: rgb(230, 0, 35);
    font-size: 16px;
    background-size: 50px;
    border-radius: 30px;
    padding: 11px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .or {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin: 7.5px;
    font-size: 14px;
    font-weight: 700;
  }

  .demo-login {
    border: none;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    height: 40px;
    width: 270px;
    margin: 8px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    background-color: rgb(239, 239, 239);
    font-size: 16px;
    background-size: 50px;
    border-radius: 30px;
    padding: 11px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .demo-login:hover {
    cursor: pointer;
  }

  .switch-pages {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: 12px;
    color: rgb(33, 25, 34);
    font-weight: 650;
    margin-top: 10px;
    /* display: flex; */
    align-items: center;
  }

  
