/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  
  .vsc-initialized {
    margin: 0px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0px;
  }

  .header > h1 {
    margin: 0px;
    margin-left: 24px;
    font-size: 20px;
    color: rgb(230, 0, 35);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }

  .login-btn {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    height: 40px;
    min-width: 70.25px;
    margin: 8px;
    color: white;
    background-color: rgb(230, 0, 35);
    font-size: 16px;
    font-weight: 450;
    border-radius: 30px;
    padding: 11px;
    padding-right: 12px;
    padding-left: 11px;
  }

  .signup-btn {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    height: 40px;
    width: 70.25px;
    margin: 8px;
    color: black;
    font-weight: 645;
    background-color: rgb(239, 239, 239);
    font-size: 16px;
    background-size: 50px;
    border-radius: 30px;
    padding: 11px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .btns {
    padding-right: 20px;
  }

  .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-form-box {
    /* display: flex; */

    align-items: center;
  } 

  .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    height: 625px;
    width: 485px
  }

  .close-x {
    font-size: 50px;
    color: white;
  }

  .welcome {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 35px;
    font-weight: 500;
  }

  input {
    height: 50px;
    width: 270px;
    margin: 5px;
    border: solid 2px rgb(201, 201, 201);
    border-radius: 15px
  }
