// You can use Sass (SCSS) here: http://sass-lang.com/

  .header-container {
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    z-index: 2;
  }

  .switch {
    margin-top: 80px
  }

  .header-link {
    text-decoration: none;
  }

  .header {
    // position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0px;
    width: 100%;
  }

  .header-icons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo_and_title {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 34px;
    height: 34px;
    margin-left: 24px;
  }

  .logo-title {
    text-decoration: none;
    margin: 0px;
    font-size: 18px;
    margin-left: 5px;
    color: rgb(230, 0, 35);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }

  .dropdown-logo {
    height: 34px;
    margin-left: 24px;
    margin-right: 15px;
    margin-left: 0px;
    padding: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 90%;
  }

  // .svg-inline--fa.fa-w-14 {
  //   width: 12px;
  // }

  .dropdown-logo:hover {
    
    background-color: rgb(235, 234, 234);
  }




