  .home-bttn {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    height: 48px;
    min-width: 78px;
    // margin: 5px;
    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    padding: 15px;
    margin-left: 12px;
    border: none
  }

  .home-bttn:hover {
    background-color: rgb(232, 228, 228);
  }

  .home-bttn:focus{
    outline: 0;
  }

  .logged-in-logo {
    width: 25px;
    height: 25px;
    margin-left: 27px;
  }

  .github-logo {
    width: 25px;
    height: 25px;
  }

  .header-profile-logo {
    width: 26px;
    height: 26px;
    margin: 10px;
    border-radius: 50%;
  }

  .header-profile-logo-link {
    width: 46px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .github-link {
    width: 46px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .header-profile-logo-link:hover {
    border-radius: 50%;
    margin-bottom: 0px;
    background-color: rgb(232, 228, 228);
  }

  .github-logo:hover {
    border-radius: 50%;
    margin-bottom: 0px;
    background-color: rgb(232, 228, 228);
  }

  .logout {
    font-size: 100px;
    text-decoration: none;
  }

  .logout-bttn-nav {
    border: none;
    height: 40px;
    border-radius: 10px;
    width: 150px;
    font-size: 18px;
    background-color: white;
  }

  .logout-bttn-nav:hover {
    background-color: rgb(221, 218, 218);
  }

  .dropdown-parent-nav:hover > .dropdown-child-nav {
    display: flex
  }

  .dropdown-child-nav:hover {
    background-color: rgb(235, 234, 234);
  }

  .dropdown-child-nav {
    right: 20px;
    display: none;
    justify-content: left;;
    position: absolute;
    font-size: 25px;
    background: white;
    min-width: 150px;
    z-index: 2;
    border-radius: 10px;
  }


