
.profile {
  display: block;
  justify-content: center;
  font-size: 100px;
}

.profile-img {
  size: 100px;
}

.profile-header {
  // display: block;
  justify-content: center;
}

// .profile-sub-header {
//   display: block;
// }

// .board-button {

// }

// .pins-button {

// }