
.edit-profile{
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.edit-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  height: 130px;
  width: 130px;
  margin-bottom: 10px;
}

.file-uploader {
    height: 44px;
    width: 270px;
    margin: 5px;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }